/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(161, 20, 20, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #bd2a2a;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #d61515;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.expiration-cvv {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #ff1d58;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0072;
}
